.container{
    position: relative;
}

img{
    width: 100%;
    height: auto;
    opacity: 30%;
}

.center{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}